* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
@keyframes purpleHueShift {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

        .navbar {
            background: linear-gradient(45deg, #4a0e78, #874ccc, #c27ba0, #874ccc, #4a0e78);
            background-size: 400% 400%;
            animation: purpleHueShift 15s ease infinite;
            padding: 0.625rem 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

        .logo-placeholder {
            width: 3.125rem;
            height: 3.125rem;
            background-color: rgba(255, 255, 255, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: white;
            border-radius: 50%;
        }

        .nav-links {
            display: flex;
            gap: 1.25rem;
            align-items: center;
        }

        .nav-links a, .dropdown > span {
            color: white;
            text-decoration: none;
            font-size: 1.125rem;
            padding: 0.3125rem 0.625rem;
            white-space: nowrap;
            transition: background-color 0.3s;
        }

        .nav-links a:hover, .dropdown:hover > span {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgba(249, 249, 249, 0.9);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 5px;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: rgba(241, 241, 241, 0.9);
        }

